@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-message {
    color: #000 !important;
}
.toast-title {
    color: #000 !important;
}
.toast-success {
    background-color: #A3A380 !important;
}
.toast-error {
    background-color: #f15151 !important;
}
